<?xml
    version="1.0"
    encoding="UTF-8"
    standalone="no"?>
<!DOCTYPE svg>
<svg
    xmlns="http://www.w3.org/2000/svg"
    overflow="hidden">
    <g id="gol">
        <g id="gun">

        </g>
        <g id="gliders">

        </g>
    </g>
    <rect x="0" y="0" width="10" height="20" fill="#ff0000"/>
</svg>
